<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
    <title>TestTask</title>

  </head>
  <body>
    <div class="container" >
        <div class="row justify-content-center" >

            <div class="col-9 mt-3" style="padding: 5%; box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);">
                    <button type="button" class="btn btn-primary mb-3" style="padding: 0 5px 0 5px">
                      выйти из аккаунта
                    </button>
                    <button type="button" class="btn btn-primary mb-3 float-right" style="padding: 0 5px 0 5px" data-toggle="modal" data-target="#AddGameModal">
                      добавить игру
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="AddGameModal" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Добавление игры</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p class="mt-2">Введите название игры</p>
                            <input type="text" class="form-control" name="gamename" id="gamename" >
                            <p class="mt-2">Введите количество раундов</p>
                            <input type="text" class="form-control" name="colround" id="colround">
                            <p class="mt-2">Введите количество ячеек</p>
                            <input type="text" class="form-control" name="colcell" id="colcell">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="addGameSession(gamename.value, colround.value, colcell.value)">Добавить</button>
                          </div>
                        </div>
                      </div>
                    </div>

                <div class="row" style="width: 100%; margin-left: 0">
                    <ul style="padding-left: 0; width: 100%" class="listSessions"></ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/gamesession.js"></script>

  </body>
</html>