<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>GameOfLife</title>
</head>
<body onload="sock(1)">


    <div class="container login-container">
        <div class="row">
            <div style="width:100%; display:flex; justify-content: center" >
                <div style="box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); padding: 20px">
                    <canvas style="width: 500px; height: 500px; border: 3px solid black; " id="c1" width="500" height="500"></canvas>
                    <div class="mt-3">
                        <span>Текущий раунд: <input type="text" value="0" id="round" readonly style="width:25px; padding: 5px"></span>
                        <span class="ml-3">Оставщиеся клетки: <input type="text" id="state" value="1" readonly style="width:25px;  padding: 5px"></span>
                        <button type="button" class="btn btn-primary float-right" onclick="sock(0)">Готов</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="/static/test.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <script type="text/javascript">
    var socket = io.connect('http://127.0.0.1:5000');
    var f = false;
    socket.on('message', function( one, two, x , y , color, state_response){
        if (one == {{ id }} || two == {{ id }})
        {
            if  (one == {{ id }})
            {kek = document.getElementById('state');
            kek.value = state_response;

            drawField(color,x,y);
        }
    });




    // При клике на игровом поле мы должны подставить героя.
    canvas.onclick = function(event) {
        var x = event.offsetX; // кордината определяется относительно кенваса
        var y = event.offsetY;

        // Координаты при клике определяются от 0 до 30.
        x = Math.floor(x/10); // 300:10 = 30
        y = Math.floor(y/10);

        console.log(x);
        console.log(y);

        socket.send({{ id }}, x, y);

        mas[y][x]=1; // поле, при клике на которое, ставится 1.
    }
    </script>


</body>
</html>

<!--   socket.on('connect', function(){-->
<!--                    {-->
<!--                        socket.send({{ id }}, two, three);-->

<!--                    }-->
<!--            });}-->


<!--  socket.on('message', function(one, two, x , y, color)-->
<!--        {-->

<!--            if
 (one == {{ id }} || two == {{ id }}) console.log(color);-->
<!--        });-->



